body
  background #169FDB

fieldset
  border none

h2
  color white
  margin 20px

.container-fluid
  margin-top 20px
  margin-bottom 100px

label
  color white

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label
  color #df4113