extends base
block title
    | REGISTRO COMPLETO
block body_content
    div(class="container-fluid")
        div(class="row")
            div(class="col-md-12 text-center")
                img(src="{% static 'img/logocpe.png'%}")
                h2(class="title-white") Participe en la oferta TIC de formación de Computadores para Educar
                h3.
                    Preinscripción completa.
                a(href="http://www.computadoresparaeducar.gov.co/")
                    button(class="btn btn-primary") Computadores para Educar