extends ../base
block title
    |ENCUESTA COMPLETA
block body_content
    div(class="container-fluid")
        div(class="row")
            div(class="col-md-12 text-center")
                img(src="{% static 'img/logocpe.png'%}")
                h2(class="title-white") Encuesta de percepción inicial y detección de necesidades
                h3.
                    Gracias, se han recibido tus respuestas.
                a(href="http://www.computadoresparaeducar.gov.co/")
                    button(class="btn btn-cpe") Visita la pagina de Computadores para Educar