
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700"/>
    <link rel="stylesheet" ,href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" ,href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
  </head>
  <body>
    <script src="{{STATIC_URL}}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{STATIC_URL}}bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="{{STATIC_URL}}bower_components/bootstrap/dist/js/bootstrap.min.css"></script>
  </body>
</html>